{% comment %}
  Some custom elements above the social links.
  Don't need "p" tag with any third-party css style.

  I know it looked really weird, but I think Liquid is needed here...
  Only put them into an html can use it but not _config.yaml.
{% endcomment %}

{% if page.creative_commons %}
This page published under <a href="{{ page.creative_commons.URL }}">{{ page.creative_commons.ShortName | escape }}</a>
{% else %}
This page does not specify a publishing license
{% endif %}
<br>

This site is made possible by these <a href="{{ site.baseurl }}/credits">open source projects</a>

<br>
<a href="https://github.com/SourLemonJuice/sourlemonjuice.github.io">Website Repo</a>
| <a href="{{ site.baseurl }}/policies/privacy">Privacy</a>
