<dialog class="privacy-dialog-wrapper" id="privacyDialog">
  <div class="privacy-dialog-text">
    <h2>Privacy Policy</h2>
    <p style="max-width: 800px">
      This site uses a few third-party services to <b>Analyze</b> your request.
      We'll only use your data to make this site better.<br />
      These services may use cookies to collect your data. See our
      <a href="{{ site.baseurl }}/policies/privacy">Privacy Policy</a>
    </p>
  </div>
  <form method="dialog" class="privacy-dialog-button-wrapper">
    <button value="accept">Allow all</button>
    <button value="necessary">Necessary only</button>
  </form>
</dialog>
